*{
    margin: 0px;
    padding: 0px;
}
h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: gold;
    font-size: 100px;
    padding-top: 200px;
    background-image: url(images/restaurant.jpeg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.nav-bar li{
    list-style: none;
    display: inline;
    text-decoration: none;
    text-align: right;
    margin-left: 100px;
    
    
}
.nav-bar{
    
    height: 50px;
    padding-top: 20px;
    background-color:#55d6aa;
 
}


