*{
    margin: 0px;
    padding: 0px;
}
h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: gold;
    font-size: 100px;
    padding-top: 200px;
    background-image: url(images/restaurant.jpeg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.nav-bar{
    height: 60px;
    
    background-color:#55d6aa;
   
    
}
.menu{
    float: right;
    margin-right: 100px;
    padding-top: 20px;
    
}
.menu:hover{
    color: red;
    box-shadow: inset 0 5px red;
}
.nav li{
    list-style: none;
    text-align: center;
    position: relative;
    
}
.sub-menu{
 display: block;

}
.nav.ul{
    width: 60%;
    list-style: none;
}
.nav li ul{
    margin-top: 20px;
}
.sub-menu{
    position: absolute;
    display: none;
    background-color: #55d6aa;
    padding: 10px;
    margin-bottom: 10px;
   
}
.sub-menu:hover{
    box-shadow: inset 0 5px red;
}
.nav ul li:hover .sub-menu{
    display: block;
}
